.menu {
  box-sizing: border-box;
  padding: 24px 20px 40px;
  height: 100vh;
  background-color: #E5E5E5;
  font-weight: bold;
  text-transform: uppercase;

  &__top {
    margin-bottom: 32px;
  }

  &__nav {
    margin-bottom: 40px;
  }


  &__content {
   @include inLine;
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 27px;
    color: inherit;
    text-decoration: none;
  }

  &__call-to-order {
    display: block;
    width: fit-content;

    padding-bottom: 7px;
    border-bottom: 1px solid $main-text-color;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: inherit;
    text-decoration: none;
  }
}

