.top-bar {
  padding-block: 24px;
  @include inLine;

  display: flex;
  justify-content: space-between;
  align-items: center;

 @include onTablet {
    padding-block: 64px;
  }

  &-bar__icon {
    display: flex;
    gap: 24px;
  }

  &-bar__logo {
    display: flex;
  }
}

