.page {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #292929;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

header {
  box-sizing: border-box;
  padding: 24px 20px 40px;
  height: 100vh;
  background-image: url(img/header-bg-moblile.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icon {
  display: flex;
  gap: 24px;
}

.header__waves {
  width: 48px;
  height: 57px;
  margin-bottom: 16px;
  background-image: url(icon/icon-waves.png);
}

.header__title {
  margin: 0;
  font-weight: 800;
  font-style: Italic;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.5px;
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone {
  background-image: url(icon/icon-phone.png);
}

.icon--menu {
  background-image: url(icon/icon-buger.png);
}

.icon--close {
  background-image: url(icon/close.png);
}


.menu {
  box-sizing: border-box;
  padding: 24px 20px 40px;
  height: 100vh;
  background-color: #E5E5E5;
}


.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__content {
  position: relative;
}