header {
  box-sizing: border-box;

  height: 100vh;
  background-image: url(../../img/header-bg-moblile.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.header__waves {
  width: 48px;
  height: 57px;
  margin-bottom: 16px;
  background-image: url(../../icon/icon-waves.png);
}

.header__title {
  margin: 0;
  font-weight: 800;
  font-style: Italic;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.5px;
}

.header__button {
  padding: 0 20px 40px;
}